
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp';
	font-variant-caps: petite-caps;
	font-weight: 600;
	font-size: 32px;
}

h3 {
	font-size: 32px;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
}

.header > h1 {
	font-size: 52px;
	padding: 10px;
}

.start-menu {
	text-align: center;
}

.start-menu > div {
	margin: 20px;
}

.start-menu > .current-difficulty {
    cursor: pointer;
    display: block;
    border-bottom: 2px solid black;
    display: inline-block;
}

.start-menu > .current-difficulty:hover {
    color: #9b9b9b;
}

.start-menu > .start-game {
    margin: 80px 0;
    cursor: pointer;
	display: block;
	font-size: 40px;
}

.start-menu > .start-game:hover {
    color: #9b9b9b;
}

.difficulty-menu {
    text-align: center;
    margin-bottom: 190px;
}

.difficulty-menu > div {
	margin: 30px 10px;
    cursor: pointer;
    display: inline-block;
}

.difficulty-menu > div:hover {
    color: #9b9b9b;
}

.play-menu {
	text-align: center;
	margin-bottom: 40px;
}

.play-menu > div {
    margin: 40px 0;
}

.play-menu > .back-from-game {
    cursor: pointer;
	display: inline-block;
	font-size: 40px;
}

.play-menu > :last-child:hover {
    color: #9b9b9b;
}

.game-won {
	width: 700px;
	height: 700px;
    text-align: center;
    padding: 20px;
    border: 5px solid black;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.game-won > h1 {
	font-size: 52px;
}

.game-won > div {
	cursor: pointer;
}

.game-won > div:hover {
	color: #9b9b9b;
}

.game-won > .restart-game {
    font-size: 40px;
}

.game-container {
    padding: 50px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(4, 4.5rem);
    grid-template-rows: repeat(4, 4.5rem);
    grid-gap: 1rem;
    overflow: hidden;
    z-index: 1;
}

.game-container-hard {
    grid-template-columns: repeat(5, 4.5rem);
}

.card {
    border: 1px solid #F4F4F4;
    cursor: pointer;
}

.front-card, .back-card {
    width: 100%;
    height: 100%;
    display: block;
}

.disabled {
    pointer-events: none;
}

#hide {
    display: none;
}

.flip {
    animation: flip 1s ease-in;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
